{% extends "base.html" %}
{% load static %}

{% block page_header %}
 
 
{% endblock %}

{% block content %}

<!---<div class="container-fluid">
            <div class="row boxes">
            
                <div class="col box b1"></div>
                <div class="col box b2"></div>
                <div class="col box b3"></div>
                <div class="w-100"></div>
                <div class="col box b4"></div>
                <div class="col box b5"></div>
                <div class="col box b6"></div>
                
            </div>

 </div>--->
  <div class="container-fluid">
        <div class="row" style="background-color: #d3d3d361;margin: 5em 3em;
    width: 54%;">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Sign up<small><br>It's free!</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form">
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
			    					</div>
			    				</div>
			    			</div>
			    			
			    			<input type="submit" value="Register" class="btn btn-info btn-block" style="margin-top:2em">
                            
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
<!---<div class="container-fluid">
    <div class="row" style="background-color: #d3d3d361;width: 50%;
    height: 20em;margin:5em 5em;">
	<div class="logo">Sign In</div>
	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Username</label>
						<input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
					</div>
					
				<input type="Submit" value="login" class="login-button btn btn-info">
			</div>
			<div class="etc-login-form">
				<p>forgot your password? <a style="color:rgb(141, 25, 25);" href="#">click here</a></p>
				
			</div>
        </form>
      </div>
    </div>
</div>--->

   
{% endblock %}


