{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div style="padding:20px;" class="background_image col-lg-12 col-sm-12">
            <div class="index_image"></div>
            <div class="index_text">
                <p class="flyer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris <a class="click_here" href="{% url 'stock' %}">Click here!</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}