.container{
    min-width: 100%!important;
}
.fixed-top{
    max-width: 20%;
    color:black;
    font-weight: lighter;
    outline: none;
    margin-top: 10px;
    font-size: 40px;
}
.index_image{
    width: 50%;
    height: 40em;
    background-image:url(https://user-images.githubusercontent.com/61980577/113072985-87a29d00-91c8-11eb-8bd6-a9ef442e1574.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.dropdown_menu {
    position: absolute;
    float: left;
    min-width: 10rem;
    margin: 0.2rem 0 0;
    font-size: 1rem;
    color: #3d546b;
    text-align: left;
    list-style: none;
    background-color: #305377;
    background-clip: padding-box;
    border: none;
}
.dropdown-toggle::after { 
    border: none; 
}
.dropdown.show{
    color:black;
}
.index_text{
    width: 50%;
    height: max-content;
    float: right;
    margin-top: 8em;
}
.my-auto{
    height:8.5em;
    text-align: center!important;
}
.text-black{
    width: 40%;
    float: right;
    position: relative;
    bottom: 5em;
}
.fa-search{
    color:rgb(141, 25, 25);
}
.form_in_line{
    color: black;
    height: inherit;
    margin-top: 3em;
}
.form-control{
    border: 1px black solid;

}
.input-group{
    width: 50%;
    height: inherit;
    margin-left: 25%;
}
.line{
    width:100%;
    height: 1%;
    background-color: rgba(32, 30, 30, 0.966);
}
.logo-font{
    display:inline;
    color: black;
    font-style: oblique;
    font-family: fantasy;
    font-size:2.5em;
    font-weight: bold;
    position: relative;
    top:1.5em;
}
.nav-link{
    padding: 0;
}
.nav-link:hover {
    color:#3c3232;
    opacity: 0.9;
    transition: 0.2s;
}
.sparkling:hover {
    color:rgb(241, 227, 99)!important;
    opacity: 0.9;
    transition: 0.3s;
}
.icon {
    display: contents;
    float:right;
}
.menu-icon{
    position: relative;
    left: 2%;
    text-decoration: none;
}
.about{
    position: absolute;
    width: 100vw;
    margin-left: 0;
}
.navbar-collapse{
     justify-content: center;
}
.navbar-nav{
    text-align: center;
    word-spacing: 10px;
}
.list{
    border: 0.5px black solid;
    text-align: center;
}
.list:hover {
    background-color: #003975ce;
}
.list a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}
.box{
    display:grid;
    border:3px solid #6b0202;
    height:30em;
    max-width:20em;
    border-radius: 15px;
    box-shadow:1px 1px 1px 1px #6b0202;;
    cursor: pointer;
}
.content{
    margin-top: 10%;
    justify-content: center;
    column-gap: 6em;
    row-gap: 4em;
}
.footer_table{
    margin: 5%;
    color: gray;
    font-style: italic;
    font-family: serif;
    position: relative;
    font-size: 15px;
    bottom: 5%;
    right: 10px;
}
.account{
    float:right;
}
.navbar-collapse{
    display: inline-block;
}
li{
    list-style-type: none;
}
.text-light{
    position:relative!important;
    left:1em;    
}
.text-light:hover{
    color: #2f3338!important;
    opacity: 0.9;
    transition: 0.2s;
}
.panel-title{
    color: gold;
    margin-bottom: 7%;
    font-size: 2.75rem;
}
.panel{
    margin: 4em 4em 4em 4em;
    padding: 1em;
    width: 40vw;
}
.flyer{
    font-style: inherit;
    font-family: fantasy;
    font-weight: 900;
    font-size: 40px;
}
.logo{
    color: rgb(141, 25, 25);
    font-size: 3.25em;
    font-weight: 300;
    position: relative;
    margin-top: 5%;
    width: 100%;
    text-align: center;
    height: max-content;
}  
.login-form-1{
    width: 100%;
    position: relative;
}
.etc-login-form{
    margin-top: 8%;
    /* margin-left: 1em; */
    text-align: center;
}
.login-button{
    margin-top: 2%;
    font-size: 8px;
    width: 6%;
}
label{
    display: block;
    margin-left: 30%;
}

.form-control {
    border: 0;
    width: 66%;
    float: right;
    margin-bottom: 20px;
}
.input-sm{
    border: 0;
    width: 100%;
    float: right;
    margin-bottom: 20px;
}
.boxes{
    justify-content: center;
    column-gap: 4em;
    row-gap: 4em;
    margin: 1em;
}
.navbar_list{
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.8s ease 0s, visibility 0s ease 0.8s, z-index 0s, linear 0.07s;
}
li:focus .navbar_list,
li:hover .navbar_list{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0.1s,0.8s,1.2s;
}
.price1{
    height: fit-content;
    position: absolute;
    bottom: 0;
    color: 5%;
    font-size: larger;
    font-style: inherit;
    text-align: right;
    font-weight: bold;
    text-align: right;
    width: 90%;
}
.image_wine{
    max-height: 50%;
    position: absolute;
    bottom: 25%;
    left: 13%;
    border-radius: 16em;
}
.b1{
    background-color:  #e2d1d26e;;
    justify-content: center;
}
.b1:hover {
     background-color: #e2d1d2;
     transition-duration: 0.6s;
}
.b1:active {
    background-color:  #e2d1d26e;
    transition-duration: 0.1s;
}
.b2{
    background-color: #ffa500e0;
    justify-content: center;
}
.b2:hover {
     background-color: #ffa5006e;
     transition-duration: 0.6s;
}
.b2:active {
    background-color: #ffa500e0;
    transition-duration: 0.1s;
}
.b3{
    background-color: #027b02d1;
    justify-content: center;
}
.b3:hover {
     background-color: #027b026b;
     transition-duration: 0.6s;
}
.b3:active {
    background-color: #027b02d1;
    transition-duration: 0.1s;
}
.b4{
    background-color:#800080d4;
    justify-content: center;
}
.b4:hover {
     background-color:#80008070;
     transition-duration: 0.6s;
}
.b4:active {
    background-color:#800080d4;
    transition-duration: 0.1s;
}
.b5{
    background-color: #0062cced;
    justify-content: center;
}
.b5:hover {
     background-color: #0062cc66;
     transition-duration: 0.6s;
}
.b5:active {
    background-color: #0062cced;
    transition-duration: 0.1s;
}
.b6{
    background-color: #a0a7af;
    justify-content: center;
}
.b6:hover {
     background-color: #a0a7af8a;
     transition-duration: 0.6s;
}
.b6:active {
    background-color: #a0a7af;
    transition-duration: 0.1s;
}
.contact-form{
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-form form{
    padding: 8%;
    margin-bottom: 5%;
}
.submit-btn{
    margin-top: 7%;
    font-size: 12px;
    margin-left: 2%;
}
.contact-text{
    height: min-content;
    line-height: 2;
    position: relative;
    left: 17%;
    top: 14%;
    color: #003977;
    font-size: x-large;
}
.container-fluid{
    height:100%;
}
.cart{
    float: right;
}
.fa-shopping-cart:hover {
    color: rgb(26, 145, 153);
    transition-duration: 0.5s;
}
.fa-shopping-cart:active {
    color: rgb(30, 107, 112);
    transition-duration: 0s;
}
.fa {
    font-size: large;
}
.register_form {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #5a3f3f7a;
    text-align: center;
    max-width: none!important;
}
.lg_form{
    display:inline-block;
    height: 30em;
    width: 70vw;
    margin: 10% 0 10% 12%;
    background-color: #cabdbd7a;
    border: 1px black solid;
    border-radius: 5px;
}
.lgout_form{
    display: inline-block;
    height: 12em;
    width: 64vw;
    margin: 10% 0 10% 16%;
    background-color: #cabdbd7a;
    border: 1px black solid;
    border-radius: 5px;
}
.logout_container{
    height:100vh;
}
.form-group{
    margin-bottom: -2rem;
    width: 75%;
}
.text-left {
    text-align: left!important;
}
.main-contact-form{
    height: 20em;
    padding: 20px 0;
    margin-left: 10%;
}
.contact-form{
    width: 100%;
    border-radius: 5px;
    font-size: large;
}
.contact-btn{
    margin: 0;
    font-size: 9px;
    border: 0.1px black solid;
}
.wine-details{
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 5%;
    font-size: larger;
    font-style: inherit;
    font-family: fantasy;
    font-weight: bolder;
    width: 90%;
}
#login-form{
    margin-top: 1.5em;
}
#id_password{
    margin-left: 30%;
    width: 40%;
}
#id_login{
    margin-left: 30%;
    width: 40%;
}
.sr-only{
    margin-left: 30%;
    display: block;
}
.dropdown-toggle {
    white-space: nowrap;
    font-size: 25px;
    color: white!important;
    cursor: pointer;
}
.dropdown-toggle:hover {
    color: #b4101d!important;
    text-decoration: none;
}
.menu-list{
    max-height: none;
    border: 0.3px black solid;
    border-radius: 3px;
    background-color: #7c899612;
}
.icon-arrow-right:hover {
     color:#b4101d;
     opacity: 0.9;
     transition-duration: 0.3s;
}
.icon-arrow-right .sparkling:hover {
     color:rgb(241, 227, 99);
     opacity: 0.9;
     transition-duration: 0.3s;
}
.contact_container{
    background-color: #7b1f1fb8;
    height: 32em;border: 0.8px black solid;
    margin: 10% 22.5%;border-radius: 8px;
}
.errorlist{
    text-align: center;
    height: 2em;
}
.signout-button{
    position: relative;
    left: 47%;
    font-size: 10px;
}
.wine-name{
    margin-top: 8%;
    font-size: 1.4em;
    padding: 5px;
    font-weight: bold;
    height: 30%;
    font-family: math;
}
@media only screen and (max-width: 900px) {
  .index_image {
    width: 100%;
    height: 20em;
    margin-left: 0;
    text-align: center;
    position: relative;
  }
}
@media only screen and (max-width: 900px) {
  .index_text {
    width: 95%;
    margin-top: unset;
    margin-bottom:80%;
  }
}
@media only screen and (max-width: 1080px) {
  .footer_menu {
    font-size: 10px;
    position: relative;
    top: 25%;
  }
}
@media only screen and (max-width: 580px) {
  .btn {
    padding:0;

  }
}
@media only screen and (max-width: 480px) {
  .text-black {
    width:70%;
    position:unset;
  }
}
@media only screen and (min-width: 480px) and (max-width:580px) {
  .text-black {
    width:60%;
    float: none;
    bottom:0;
  }
}
@media only screen and (max-width: 480px) {
  .w-100 {
    width:80%!important;
  }
}  
@media only screen and (max-width: 1020px) and (min-width:520px) {
  .menu-icon {
    position: relative;
    top: 20%;
    left: -30%;
}
}
@media only screen and (max-width: 480px) {
  .about {
    height: auto;
    position: absolute;
    width: 100vw;
    bottom: 0;
  }
}  
@media only screen and (max-width: 580px) {
  .flyer {
    position:unset;
    letter-spacing: 4px;
    display: inline-block;
    font-size: 25px;
    transform: scaleY(0.8);
  }
}  
@media only screen and (max-width: 290px) {
  .flyer {
    font-size: 20px;
  }
}
@media only screen and (max-width: 580px) {
  .input-group {
    width: 85%;
    margin-left: 10%;
  }
}
@media only screen and (min-width: 685px) and (max-width: 1080px) {
  .input-group {
    height: inherit;
    margin-left: 25%;
    width: 50%;
  }
} 
@media only screen and (min-width: 180px) and (max-width: 470px) {
  .input-group {
    width: 100%;
    margin-left: 0;
  }
}   
@media only screen and (max-width: 480px) {
  .logo-font {
    position: relative;
    right:0;
  }
}  
@media only screen and (max-width: 480px) {
  .footer_table {
    font-size: 10px;
    position: unset;
  }
}  
@media only screen and (max-width:420px) {
   .background_image{
    padding: 20px;
    position: relative;
    top: 2em;
    text-align: end;
  }
}
@media only screen and (max-width: 480px) {
  .form_in_line {
    margin-left: auto;
  }
} 
@media only screen and (max-width: 480px) {
  .cart {
    float: left;    
  }
} 
@media only screen and (max-width: 480px) {
  .account {
    outline: none!important;
    position: relative;
    right: 35%;
    }
} 
@media only screen and (max-width: 480px) {
  .navbar-collapse {
    font-size: 10px;
    position: relative;
  }
} 
@media only screen and (max-width: 480px) {
  .footer {
    position: relative;
    bottom: -5%;
  }
}
@media only screen and (max-width: 580px) {
  .myAccount {
    display:none;
  }
}
@media only screen and (max-width: 480px) {
  .account.cart {
    float:left;
  }
}
@media only screen and (min-width: 470px) and (max-width: 180px) {
  .text-black {
    width: 100%;
    position: relative;
    bottom: -2em;
  }
}
@media only screen and (max-width: 580px) {
  .fa-search {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 580px) {
  .navbar-collapse {
    display:contents;
  }
}
@media only screen and (max-width: 340px) {
  .navbar-collapse {
    display:block;
  }
}
@media only screen and (max-width: 340px) {
  .text-black {
    width: 70%;
    position: relative;
    top: 3em;
  }
}
@media only screen and (min-width: 470px) and (max-width: 180px) {
  .account {
    margin-left: 10%;
  }
}
@media only screen and (max-width: 580px) {
  .panel {
    margin: 0;
    padding: 0;
    width: unset;
  }
}
@media only screen and (max-width: 580px) {
  .signup_already {
    font-size: small;
  }
}
@media only screen and (max-width: 580px) {
  .login_container {
    height: 80vh;
  }
}
@media only screen and (max-width: 580px) {
  .lg_form {
    height: 60%;
    margin: 15% 11%;
    background-color:#5a3f3f7a;
    border: 1px black solid;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 580px) {
  .logo {
    color: rgb(141, 25, 25);
    font-size: 1.5em;
    font-weight: 300;
    position: relative;
    bottom: -1.8em;
    height:unset;
  }
}
@media only screen and (max-width: 580px) {
  .login-form-1 {
    width: 65%;
    height: 20em;
    position: relative;
    left: 20%;
    top: 25%;
  }
}
@media only screen and (max-width: 580px) {
  .login-button {
    margin-top: 1em;
    font-size: small;
    width:20%;
    margin-left: 0;
    border: 0.3px black solid;
  }
}
@media only screen and (max-width: 580px) {
  .etc-login-form  {
    font-size: small;
  }
}
@media only screen and (max-width: 580px) {
  .panel-title {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 580px) {
  .form-control {
    width: 100%;
    margin-bottom: 20px;
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 580px) {
  .form-group {
    width: 100%;
    margin-bottom: -2rem;
  }
}
@media only screen and (max-width: 580px) {
  .signup_form {
    width: 100%;
    margin-bottom: 0rem;
  }
}
@media only screen and (max-width: 580px) {
  .input-sm {
    border: 0;
    width: 100%;
    margin-bottom: 25px;
    float: left;
  }
}
@media only screen and (max-width: 580px) {
  .form_group {
    margin-bottom: -2rem;
    width: 100%;
    position: relative;
    top: 10%;
    height: 5em;
  }
}
@media only screen and (max-width: 580px) {
  .contact-text {
    width: min-content;
    font-size: larger;
    line-height: unset;
    left:5%;
  }
}
@media only screen and (max-width: 580px) {
  .main-contact-form {
    margin-left: unset;
  }
}
@media only screen and (max-width: 580px) {
  .contact-form form{
    padding:4%;
    margin-bottom: auto;
    font-size: medium;
  }
}
@media only screen and (max-width: 580px) {
  .contact-btn{
    font-size: 12px;
  }
}
@media only screen and (max-width: 580px) {
  .contact-text{
    top: 10%;
    font-size: larger;
  }
}
@media only screen and (max-width: 580px) {
  #login-form{
    margin-top: 0;
  }
}
@media only screen and (max-width: 380px) {
  a {
    font-size:12px!important;
  }
}
@media only screen and (max-width: 780px) {
  .box  {
    height: 20em;
    max-width: 12em;
  }
}

@media only screen and (max-width: 990px) {
  .navbar  {
    flex-wrap:unset;
  }
}
@media only screen and (max-width: 590px) {
  .container-fluid li  {
    height:unset!important;
  }
}
@media only screen and (max-width: 420px) {
  .contact_container  {
    margin: 22% 10.5%;
  }
}
@media only screen and (max-width: 420px) {
  .btn-info.signout  {
    font-size: 8px;
    left: 43%;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 580px) {
  .logo{
      font-size: 1em;
      bottom:0;
  }
}
@media only screen and (max-width: 480px) {
  .navbar_list.types{
    width:unset;
    left:-3.2em;
  }
}
@media only screen and (max-width: 480px) {
  .navbar_list.countries{
    width:unset;
    left:-3.2em;
  }
}
@media only screen and (max-width: 480px) {
  .navbar_list.sparkling{
    width:unset; 
    left:-3.2em;
  }
}
@media only screen and (max-width: 480px) {
  .lgout-form{
    height:15%;
  }
}
