
body{
    height:50%;
    min-width: 100vw;
}
.fixed-top{
    max-width: 20%;
    color:black;
    font-weight: lighter;
    outline: none;
    margin-top: 10px;
    font-size: 40px;
}
.index_image{
    width: 50%;
    height: 40em;
    background-image:url(https://user-images.githubusercontent.com/61980577/113072985-87a29d00-91c8-11eb-8bd6-a9ef442e1574.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.dropdown-menu{
    position: absolute;
    top: 38%;
    left: 55%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.index_text{
    width: 50%;
    height: 10em;
    float: right;
    margin-top: 8em;
}
.my-auto{
    height:7.5em;
    text-align: center!important;
}
.text-black{
    width: 40%;
    float: right;
    position: relative;
    bottom: 4em;
}
.fa-search{
    color:rgb(141, 25, 25);
}
.form_in_line{
    color: black;
    height: inherit;
    margin-top: 5em;
}
.form-control{
    border: 1px black solid;

}
.input-group{
    width: 50%;
    height: inherit;
    margin-left: 25%;
}
.line{
    width:100%;
    height: 1%;
    background-color: rgba(32, 30, 30, 0.966);
}
.logo-font{
    display:inline;
    color: black;
    font-style: oblique;
    font-family: fantasy;
    font-size:2.5em;
    font-weight: bold;
    position: relative;
    top:1em;
}
.nav-link{
    padding: 0;
}
.nav-link:hover {
    color:#3c3232;
    opacity: 0.9;
    transition: 0.2s;
}
.sparkling{
    color:rgb(228, 208, 97);
    pointer-events: none;
}
.sparkling:hover {
    color: #ffc107;
    opacity: 0.9;
    transition: 0.2s;
}
.icon {
    display: contents;
    float:right;
}
.menu-icon{
    position: relative;
    left: 2%;
    text-decoration: none;
}
.about{
    height: 7em;
    width:100vw;
}
.navbar-collapse{
     justify-content: center;
}
.navbar-nav{
    text-align: center;
    word-spacing: 10px;
}
.box{
    display:grid;
    border:5px solid #6b0202;
    height:300px;
    max-width:200px;
    border-radius: 15px;
    box-shadow:3px 3px 0px 0px #6b0202;
}
.content{
    margin-top: 10%;
    justify-content: center;
    column-gap: 6em;
    row-gap: 4em;
}
.footer_table{
    margin: 5%;
    color: gray;
    font-style: italic;
    font-family: serif;
    position: relative;
    font-size: 15px;
    bottom: 5%;
    right: 10px;
}
.account{
    float:right;
}
.navbar-collapse{
    display: inline-block;
}
li{
    list-style-type: none;
}
.text-light{
    position:relative!important;
    left:1em;    
}
.text-light:hover{
    color: #2f3338!important;
    opacity: 0.9;
    transition: 0.2s;
}
.panel-title{
    color: gold;
    margin-bottom: 10%;
    font-size: 2.75rem;
}
.panel{
    margin: 4em 4em 4em 4em;
    padding: 1em;
    width: 45vw;
}
.flyer{
    font-style: inherit;
    font-family: fantasy;
    font-weight: 900;
    font-size: 40px;
}
.logo{
    color: rgb(141, 25, 25);
    font-size: 2em;
    font-weight: 400;
    position: relative;
    bottom: -2.2em;
    left: 20.5%;
}  
.login-form-1{
    width: 25vw;
    position: relative;
    top: 10em;
}
.etc-login-form{
    margin-top:1.3em;
}
.login-button{
    margin-top: 2em;
}
.form-control {
    border: 0;
}
.boxes{
    justify-content: center;
    column-gap: 4em;
    row-gap: 4em;
    margin: 2em 1em;
}
.b1{
    background-color: #00008b5e;
}
.b2{
    background-color: #ffa5006b;
}
.b3{
    background-color: #00800061;
}
.b4{
    background-color: #80008040;
}
.b5{
    background-color: #dee2e661;
}
.b6{
    background-color: #ffc0cb73;
}

.contact-form{
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-form form{
    padding: 8%;
    margin-bottom: 5%;
}
.submit-btn{
    margin-top: 7%;
    font-size: 12px;
    margin-left: 2%;
}
.show{
    max-height: 2.5em;
}
.contact-text{
    height: min-content;
    line-height: 2;
    position: relative;
    left: 8%;
    top: 5%;
    color: #003977;
}
.container-fluid{
    height:100vh;
}
.cart{
    float: right;
}
@media only screen and (max-width: 900px) {
  .index_image {
    width: 100%;
    height: 20em;
    margin-left: 0;
    text-align: center;
    position: relative;
  }
}
@media only screen and (max-width: 900px) {
  .index_text {
    width: 95%;
    margin-top: unset;
    margin-bottom:80%;
  }
}
@media only screen and (max-width: 1080px) {
  .footer_menu {
    font-size: 10px;
    position: relative;
    top: 25%;
  }
}
@media only screen and (max-width: 580px) {
  .btn {
    padding:0;

  }
}
@media only screen and (max-width: 480px) {
  .text-black {
    width:70%;
    position:unset;
  }
}
@media only screen and (min-width: 480px) and (max-width:580px) {
  .text-black {
    width:58%;
    float: none;
  }
}
@media only screen and (max-width: 480px) {
  .w-100 {
    width:80%!important;
  }
}  
@media only screen and (max-width: 1020px) and (min-width:520px) {
  .menu-icon {
    position: relative;
    top: 20%;
    left: -30%;
}
}
@media only screen and (max-width: 480px) {
  .about {
    height: auto!important;
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
}  
@media only screen and (max-width: 580px) {
  .flyer {
    position:unset;
    letter-spacing: 4px;
    display: inline-block;
    font-size: 25px;
    transform: scaleY(0.8);
  }
}  
@media only screen and (max-width: 290px) {
  .flyer {
    font-size: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .input-group {
    width: 75%;
    margin-left: 15%;
  }
}
@media only screen and (min-width: 685px) and (max-width: 1080px) {
  .input-group {
    height: inherit;
    margin-left: 25%;
    width: 50%;
  }
} 
@media only screen and (max-width: 0px) and (min-width: 470px) {
  .input-group {
    width: 100%;
    margin-left: 0;
  }
}   
@media only screen and (max-width: 480px) {
  .logo-font {
    position: relative;
    right:0;
  }
}  
@media only screen and (max-width: 480px) {
  .footer_table {
    font-size: 10px;
    position: unset;
  }
}  
@media only screen and (max-width:420px) {
   .background_image{
    padding: 20px;
    position: relative;
    top: 2em;
    text-align: end;
  }
}
@media only screen and (max-width: 480px) {
  .form_in_line {
    margin-left: auto;
  }
} 
@media only screen and (max-width: 480px) {
  .cart {
    float: left;    
  }
} 
@media only screen and (max-width: 480px) {
  .account {
    outline: none!important;
    position: relative;
    right: 45%;
    }
} 
@media only screen and (max-width: 480px) {
  .navbar-collapse {
    font-size: 10px;
    position: relative;
  }
} 
@media only screen and (max-width: 580px) {
  .container-fluid {
    height:60em;
  }
}
@media only screen and (max-width: 480px) {
  .footer {
    position: relative;
  }
}
@media only screen and (max-width: 580px) {
  .myAccount {
    display:none;
  }
}
@media only screen and (max-width: 480px) {
  .account .cart {
    float:left;
  }
}
@media only screen and (min-width: 470px) and (max-width: 180px) {
  .text-black {
    width: 100%;
    position: relative;
    bottom: -2em;
  }
}
@media only screen and (max-width: 580px) {
  .fa-search {
    margin-left: 5px;
  }
}
