{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row boxes" style="min-height: 100vh;">

        {% for item in item %}
        
        <div class="col-lg-3 col-md-4 col-sm-6 box b1"><a href="{% url 'item_details' item.id %}">
            <div class="wine-name"><span class="name">{{ item }}</span></div>
            <div>{% if item.image %}
                <a>
                    <img class="image_wine" src="{{ item.image.url }}" alt="{{ item.name }}">
                </a>
                {% else %}
                <a>
                    <img class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                </a>
                {% endif %}
            </div>
            <span class="wine-details">{{ item.country }}</span><span class="price1">{{ item.price }}</span>
        </a></div>

        {% endfor %}

    </div>

</div>

{% endblock %}