{% extends "base.html" %}
{% load static %}


{% block content %}  

<div class="container-fluid">
            <div class="row boxes">
                <div href="#" class="col-lg-3 col-md-4 col-sm-6 box b1">
                <div></div>
                <span class="wine-details">Details</span></div>
                <div href="#" class="col-lg-3 col-md-4 col-sm-6 box b2">
                <div></div>
                <span class="wine-details">Details</span></div>
                <div href="#" class="col-lg-3 col-md-4 col-sm-6 box b3">
                <div></div>   
                <span class="wine-details">Details</span></div>
                <div class="w-100"></div> 
                <div href="#" class="col-lg-3 col-md-4 col-sm-12 box b4">
                <div></div>
                <span class="wine-details">Details</span></div>
                <div href="#" class="col-lg-3 col-md-4 col-sm-12 box b5">
                <div></div>
                <span class="wine-details">Details</span></div>
                <div href="#" class="col-lg-3 col-md-4 col-sm-12 box b6">
                <div></div>
                <span class="wine-details">Details</span></div>
                
            </div>

 </div>
 
{% endblock %}