{% extends "base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% endblock %}

{% block content %}

<h1>{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
</p>
<div class="container-fluid">
    <div class="row">
        <div class="login-form-1">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <div class="wrapper fadeInDown">
                        <div id="formContent">
                            <div class="fadeIn first">
                                <i class="fa fa-user" aria-hidden="true" id="icon" alt="User Icon"></i>
                            </div>
                            <form>
                                <input type="email" id="email" class="fadeIn second" name="email"
                                    placeholder="insert email">
                                <input type="submit" class="fadeIn fourth" value="{% trans 'Reset My Password' %}">
                            </form>
                        </div>
                    </div>
                    <!--<input type="submit" value="{% trans 'Reset My Password' %}" />--->
                </div>
            </form>
        </div>
    </div>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

    {% endblock %}