{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
{% block inner_content %}
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="wrapper fadeInDown">
    <div id="formContent">
        <h1>{% trans "Password Reset" %}</h1>
        <div class="fadeIn first">
            <i class="fa fa-user" aria-hidden="true" id="icon" alt="User Icon"></i>
            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
        <a href="{% url 'home' %}">Home</a>
    </div>
    </div>
    
    
{% endblock %}
{% endblock %}
