{% extends "base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% endblock %}

{% block content %}
 
<div class="container-fluid">
    <div class="row">
        <div class="login-form-1">
            {% block inner_content %}
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div>
                    <div class="wrapper fadeInDown">
                        <div id="formContent">
                            <div class="fadeIn first">
                                <i class="fa fa-user" aria-hidden="true" id="icon" alt="User Icon"></i>
                            </div>
                            <form>
                                {{ form.email }}
                                <input type="submit" class="fadeIn fourth" value="{% trans 'Reset My Password' %}">
                            </form>
                        </div>
                    </div>
                </div>
            </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}