{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}


{% block content %}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <div class="fadeIn first">
            <i class="fa fa-user" aria-hidden="true" id="icon" alt="User Icon"></i>
        </div>

        <!-- Register Form -->
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
             {% csrf_token %}
           <!--<input type="text" id="firstname" class="fadeIn second" name="firstname" placeholder="First Name">
            <input type="text" id="secondname" class="fadeIn second" name="secondname" placeholder="Second Name">
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
            <input type="email" id="email" class="email fadeIn second" name="email" placeholder="Email">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
            <input type="password" id="password_confirmation" class="fadeIn third" name="password_confirmation"
                placeholder="ConfirmPassword">-->
                {{ form.first_name }}
                {{ form.last_name }}
                {{ form.username }}
                {{ form.phone_number }}                
                {{ form.email }}
                {{ form.country }}
                {{ from.city }}
                {{ form.postcode }}
                {{ form.address }}
                {{ form.password }}
                {{ form.password_confirmation }}
                <!--{{ form }}-->
            <input type="submit" class="fadeIn fourth" value="Sign Up">
        </form>
         <div id="formFooter">
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}