{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}


{% block content %}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <div class="fadeIn first">
            <i class="fa fa-user" aria-hidden="true" id="icon" alt="User Icon"></i>
        </div>

        <!-- Register Form -->
        <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form }}             
            <input type="submit" class="fadeIn fourth" value="Sign Up">
        </form>
         <div id="formFooter">
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        </div>
    </div>
</div>
<style>
    label{
        display:none;
    }
    #id_email{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    }
    #id_email:focus{
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
    }
    #id_username{
        background-color: #f6f6f6;
        border-bottom: none;
    }
    #id_username:focus{
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
    }
</style>
{% endblock %}