{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}


    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/css/base.css' %}">
        <link rel="stylesheet" href="{% static '/js/script.js' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    {% block page_header %}



    <title>World Wide Wine</title>
  </head>
  <body class="container">
    <header class="row ">
    <div class="col bg-light">
            <div class="col-12 col-md-4 my-auto  text-center ">
                <a href="{% url 'home' %}" class="nav-link main-logo-link mw-30">
                    <h2 class="logo-font "> World<strong style="color:rgb(141, 25, 25)"> Wide</strong> Wine</h2>
                </a>
            </div>
            <div class="col-12 my-auto py-lg-0 text-black">
                    <ul style="outline: none!important;" class="icon menu-icon dropdown">
                        <button  class="btn account" type="button" data-toggle="dropdown" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false"><a class=" btn btn-md rounded-0"><span class="myAccount">MyAccount</span><i class="fa fa-user" aria-hidden="true"></i></a></button>
                        <div class="dropdown-menu"     aria-labelledby="dropdownMenu1">
                             <li><a href="#" class="dropdown-item">Register</a></li>
                             <li><a href="#" class="dropdown-item">Login</a></li>
                        </div>
                    </ul>
                    <ul class="icon menu-icon">
                        <button class="btn cart" type="button"><a class=" btn btn-md rounded-0"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></button>
                    </ul>
            </div>
       <div class="col-12 my-auto py-lg-0">
         <form class="form_in_line" method="GET" action="">
             <div class="input-group">
                <input class="form-control ml-sm-3 " type="search" placeholder="Search" aria-label="Search">
                  <div class="input-group-prepend  rounded-0">
                    <button class="btn form-control" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                 </div>
             </div>
         </form>
        </div>
    </div>
</header>

<div style="line-height: 5em;">
   <div class="row">
    <nav class="col navbar navbar-expand-md" style="background-color:#305377;">
            <div class="navbar-collapse">
                <ul class="nav-item active dropdown">
                <button class="btn" type="button" data-toggle="dropdown" id="dropdownTypes" aria-haspopup="true" aria-hidden="true" aria-expanded="false" ><a style="color:black; text-decoration: none;">Types</a></button>
                  <div class="collapse" aria-labelledby="dropdownTypes">
                    <li href="#" class="dropdown-content"><a style="text-decoration: none;" class="text-light" href="#">White</a></li>
                    <li href="#" class="dropdown-content"><a style="text-decoration: none;" class="text-light" href="#">Red</a></li>
                    <li href="#" class="dropdown-content"><a style="text-decoration: none;" class="text-light" href="#">Rose'</a></li>
                   </div>
                </ul>
            </div>
            <div class="navbar-collapse">
               <ul class="nav-item active">
               <button class="btn" type="button" data-toggle="collapse" data-target=".collapse" aria-expanded="false"><a style="color:black" class="nav-link " href="#">Countries</a></button>
                  <li class="collapse"><a style="text-decoration: none;" class="text-light" href="#">US</a></li>
                  <li class="collapse"><a style="text-decoration: none;" class="text-light" href="#">France</a></li>
                  <li class="collapse"><a style="text-decoration: none;" class="text-light" href="#">Italy</a></li>
                  <li class="collapse"><a style="text-decoration: none;" class="text-light" href="#">Spain</a></li>
               </ul>
            </div>
            <div class="navbar-collapse">
               <ul class="nav-item active">
               <button class="btn" type="button" data-toggle="collapse" data-target=".collapse" aria-expanded="false"><a    class="nav-link sparkling" href="#">Champagne
               </a></button>
                    <li class="collapse"><a style="text-decoration: none;" class="text-light" href="#">Blanc de Noirs</a></li>
                    <li class="collapse"><a style="text-decoration: none;" class="text-light" href="#">Blanc de Blancs</a></li>
                    <li class="collapse"><a style="text-decoration: none;" class="text-light" href="#">Brut</a></li>
                </ul>
            </div>
    </nav>
    </div>
</div>
 {% endblock %}

 {% block content %}
 
 {% endblock %}
<footer class="footer">
    <div class="row bg-light about">
            <table class="footer_table">
                <th ><a style="color:#615353;;text-decoration: none;letter-spacing: 3px;" href="#">About</a></th>
                <th ><a style="color:#615353;;text-decoration: none; letter-spacing: 3px; float:right;position: relative;
                left: 1em;" href="{% url 'view_contact' %}">Contact</a></th>
            </table>
    </div>
</footer>
</body>

</html>