{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div style="padding:20px;" class="background_image col-lg-12 col-sm-12">
            <div>
                <p class="flyer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris</p>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="row bg-light about">
        <table class="footer_table">
            <th><a style="color:#615353;;text-decoration: none;letter-spacing: 3px;font-size: 20px;"
                    href="{% url 'about' %}">About</a></th>
            <th><a style="color:#615353;;text-decoration: none; letter-spacing: 3px; float:right;position: relative;
                left: 1em;font-size: 20px;" href="{% url 'view_contact' %}">Contact</a></th>
        </table>
    </div>
</footer>

{% endblock %}