{% extends "base.html" %}
{% load static %} 

{% block content %}
   <div class="container-fluid">
    <div class="row" style="background-color: #7b1f1fb8;
    height: 32em;border: 0.8px black solid;
    margin: 10% 22.5%;border-radius: 8px;">
	<h3 class="contact-text">Drop us a message</h3>
	<div class="contact-form">
		<form id="contact-form" class="text-left" method="POST" action="">
			
			<div class="main-contact-form">
				
					<div class="form-group" style="height:5em">
						<label for="lg_name" class="sr-only">Your Name*</label>
						<input type="text" class="contact-form" id="lg_name" name="lg_name" placeholder="name" required>
					</div>
                    <div class="form-group" style="height:5em;">
						<label for="lg_email" class="sr-only">Your email*</label>
						<input type="email" class="contact-form" id="lg_email" name="lg_email" placeholder="email" required>
                    </div>
                    <div class="form-group" style="height:11em">
                        <label for="phone" class="sr-only">Your phone number*</label>
                        <input style="height: 8em;" type="tel" class="contact-form" id="message" name="message"
                               pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" 
                               required>
                        
                    </div>
				<input type="Submit" value="submit" class="contact-btn btn btn-info">	
				
			</div>
        </form>
    </div>
    </div>
</div>
{% endblock %}
<!---<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>--->