{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row" style="height: 100vh;">
    <div class="col-md-4 order-md-2 mb-4" style="text-align: center;">
        <h3 class="justify-content-between align-items-center mb-3">
            <span class="text-muted text-center">Hello, My Account</span>
        </h3>
        <hr>
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-black rounded-0 text-uppercase float-left">Update Info</button>
    </div>
</div>

{% endblock %}
